$pry-color: #1b4b66;
$high-em: #171520;
$low-em: #626262;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 2rem;
  border: 1px solid green;
}
