* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 2rem;
  border: 1px solid green;
}